<!DOCTYPE html>
<html>
    <head>
        <title>Answer</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    </head>
    <body>
        <h1 id = "answer"><%="The result is #{@c["result"]}"%></h2>
        
        <div id = "home">
        <form action="/">
            <input type="submit" value="Home"/>
        </form>
        </div>
    </body>
</html>


